#custom-tweet-button a{
display: block;
padding: 0 15px 0 35px;
background: url('https://twitter.com/favicons/favicon.ico') 15px center no-repeat;
line-height: 24px;
color: #15c;
text-decoration: none;
}
#custom-tweet-button a:hover {
background: #eee url('https://twitter.com/favicons/favicon.ico') 15px center no-repeat;
color: #000;
padding: 0 15px 0 35px;
}


#custom-fb-button a{
display: block;
padding: 0 15px 0 35px;
background: url('../images/facebook_square.png') 15px center no-repeat;
line-height: 24px;
color: #15c;
text-decoration: none;
}
#custom-fb-button a:hover {
background: #eee url('../images/facebook_square.png') 15px center no-repeat;
color: #000;
padding: 0 15px 0 35px;
}
