.jcarousel-skin .jcarousel-container-horizontal {
    width: 620px;
}

.jcarousel-skin .jcarousel-clip-horizontal {
    width:  620px;
	height: 320px;    
}

.jcarousel-skin .jcarousel-item {
    width: 140px;
	height: 320px;
}

.jcarousel-skin .jcarousel-item-horizontal {
    margin-right: 20px;
}

.jcarousel-skin .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}