/*
THEME NAME: Tokyo Fashion
THEME URI: http://tokyofashion.com
DESCRIPTION: Tokyo Fashion v1.0 : Custom theme for TokyoFashion.com
VERSION: 1.0
AUTHOR: <a href="http://www.rubiqube.com">Adrian Diaconescu</a>
AUTHOR URI: http://www.rubiqube.com
*/

@import "reset.css";

body {
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

a {
	color: #1C6DAA;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: 700;
}

hr {
	border: none 0;
	border-bottom: 1px solid #E0E0E0;
	height: 1px;
	margin: 10px 0;
}

blockquote {
	font-style: italic;
	background: url(images/quotes.gif) no-repeat top left;
	background-position: 12px 12px;
	color: #595959;
	margin: 5px 0;
	padding: 8px 15px 8px 60px;
}

.wrapper {
	width: 950px;
	margin: 0 auto;
}

#header {
	overflow: hidden;
	height: 160px;
	margin: 0 auto;
	background: #D9D5BB url(images/bg_header.png) repeat-x top left;
}

#header a {
	color: #3C2517;
}

#logo {
	float: left;
	margin: 20px 0 0 10px;
}

#logo a {
	display: block;
	width: 245px;
	height: 118px;
	background: url(images/logo.gif) no-repeat top left;
}

#logo a span {
	display: none;
}

#tools {
	float: right;
	overflow: hidden;
	margin-top: 30px;
}

#tools li {
	float: left;
	margin-left: 35px;
	padding-top: 5px;
}

#s {
	width: 235px;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #666666;
}

#menu {
	float: right;
	margin-top: 35px;
}

#menu ul li {
	float: left;
	font-size: 150%;
	padding: 10px 15px;
}

#menu ul li.current_page_item {
	background: #E1DDC9;
}

#menu ul li a {
	color: #333333;
}

#container {
	width: 950px;
	overflow: hidden;
	margin: 25px auto;
}

#content {
	float: left;
	width: 620px;
}

/* Front */

.contentpanel {
	overflow: hidden;
	margin-bottom: 60px;
}


.contentpaneltitle {
	padding: 0 0 10px 24px;
	color: #3C2517;
	font-weight: bold;
	font-size: 135%;
	background: url(images/bg_contentpanel_title.gif) no-repeat bottom left;
}

.morelink {
	 float: right;
	 margin: 4px 0 0 0;
	 font-size: 110%;
	 font-weight: bold;
	 color: #000000;
}

#last {
	width: 300px;
	float: left;
	margin-top: 15px;
}

#latest {
	width: 320px;
	float: left;
	margin-top: 15px;
}

.snippet {
	overflow: hidden;
	padding: 15px 0 5px 0;
	border-bottom: 1px solid #F0EEE4;
}

.snippet ul {
	float: left;
	width: 300px;
}
.snippet ul li {
	background: transparent url(images/list-icon.gif) left center no-repeat; 
	padding-left: 17px;
}

.snippet-left {
	float: left;
	width: 140px;
	margin-right: 15px;
}

.snippet-right {
	float: left;
	width: 465px;
}

.snippet-thumb {
	margin-bottom: 10px;
}

h3.snippet-title {
	font-size: 125%;
	margin-bottom: 5px;
	line-height: 1.2;
}

h4.snippet-title {
	font-size: 90%;
	margin-bottom: 5px;
	font-weight: bold;
	line-height: 1.2;
}

.snippet-meta {
	font-size: 85%;
	color: #999999;
	margin-bottom: 8px;
}

.snippet-meta a {
	color: #333333;
	font-weight: bold;
}

.snippet-intro {
	line-height: 1.3;
}

.snippet-readmore {
	margin-top: 10px;
}

.snippet-readmore a {
	color: #333333;
	font-weight: bold;
}

#last .snippet-intro {
	font-size: 90%;
}

#latest-snippets {
	overflow: hidden;
}

#latest-snippets li {
	width: 140px;
	margin-left: 20px;
	float: left;
}

#latest-snippets .snippet-intro {
	font-size: 85%;
}

#latest .blocksubtitle {
	font-size: 110%;
	font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #E5E5E5;
	margin: 25px 0 5px 20px;
	padding-bottom: 5px;
}

#latest-list {
	margin: 0 0 0 20px;
}

#latest-list li {
	padding: 3px 0;
	font-size: 90%;
}

/* Single */

.post {
	margin-bottom: 50px;
}

.post-title {
	font-size: 200%;
	line-height: 1.2;
	font-weight: normal;
}

.post-title a {
	color: #333333;
}

.page-subtitle {
	font-weight: 700;
	color: #CCC;
	font-size: 90%;
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 15px;
}

.page-subtitle-cat-tf {
	font-weight: 700;
	color: #CCC;
	font-size: 150%;
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 1px solid #EFEFEF;
	margin-bottom: 15px;
}

.post-meta {
	font-size: 85%;
	color: #999;
	margin-top: 5px;
}

.post-meta a {
	color: #666666;
}

.post-comments {
	float: right;
	background: url(images/cbubble_left.gif) no-repeat top left;
	padding: 3px 0 7px 7px;
}

.post-comments a {
	background: url(images/cbubble_right.gif) no-repeat top right;
	padding: 3px 7px 7px 0;
	color: #FFFFFF;
}

.post-comments a:hover {
	color: #FFFFFF;
}

.post-content {
	margin-top: 15px;
}

.post-content h2 {
	font-size: 140%;
	margin-bottom: 10px;
	border-bottom: 1px solid #EFEFEF;
	padding: 10px 0 5px;
}

.post-content h3 {
	font-size: 110%;
	font-weight: 700;
	margin-bottom: 5px;
	border-bottom: 1px solid #EFEFEF;
	padding: 10px 0 5px;
}

.post-content p {
	line-height: 1.3;
	margin-bottom: 10px;
}

.post-content img {
	background: #FFF;
	border: 1px solid #EFEFEF;
	padding: 4px;
	margin-top: 10px;
	max-width: 600px;
	height : auto;
}

.post-content img.alignleft {
	float: left;
	border: 1px solid #EFEFEF;
	margin: 0 25px 15px 0;
	padding: 4px;
}

.post-content img.alignright {
	float: right;
	border: 1px solid #EFEFEF;
	margin: 0 0 15px 25px;
	padding: 4px;
}

.post-content ul,.post-content ol {
	margin-left: 30px;
	margin-bottom: 20px;
}

.post-content ul {
	list-style: outside;
}

.post-content ol {
	list-style: decimal;
}

.post-content ul li,.post-content ol li {
	line-height: 1.3;
	margin-bottom: 5px;
}

.more-link {
	font-weight: 700;
	display: block;
	margin-top: 10px;
}

.post-tags {
	line-height: 1.3;
}

.section-title {
	font-size: 140%;
	margin-bottom: 10px;
}

.navigation {
	padding-top: 20px;
}

.navleft {
	float: left;
	margin: 0 15px 15px 0;
}

.navright {
	float: right;
	margin: 0 0 15px 15px;
}

.navigation div a {
	font-size: 110%;
}

.unapproved {
	font-style: italic;
}

#respond {
	margin-top: 30px;
}

#comment-form {
	margin-top: 15px;
	margin-bottom: 10px;
}

#comment-form label {
	font-size: 90%;
	display: block;
	margin-bottom: 5px;
}

#comment-form input {
	width: 240px;
	margin-bottom: 10px;
	padding: 5px;
}

#comment-form textarea {
	width: 455px;
	height: 200px;
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	padding: 10px;
}

#sidebar {
	float: right;
	width: 300px;
}

.sidepanel {
	margin-bottom: 40px;
}

.sidepanel h3 {
	padding: 0 0 10px 0;
	color: #3C2517;
	font-weight: bold;
	font-size: 135%;
	background: url(images/bg_sidepanel_title.gif) no-repeat bottom left;
}

.isacc h3 {
	background: url(images/bg_sidepanel_title_acc.gif) no-repeat bottom left;
}

.widgets h3 {
	margin-bottom: 10px;
}

.sidepanel ul li {
	padding-bottom: 8px;
}

.sidepanel p {
	margin-top: 8px;
	line-height: 1.3;
	font-size: 90%;
}

/* Accordion */

.acc-head {
	display: block;
	color: #000000;
	font-size: 90%;
	font-weight: bold;
	width: 300px;
	background: #F7F7F1 url(images/arrow.gif) no-repeat 8px center;
	padding: 8px 8px 8px 20px;
	border-bottom: 1px solid #F0EEE4;
	margin-bottom: 1px;
}

.acc-content {
	padding: 8px;
}

.acc-grid {
	font-size: 90%;
	font-weight: bold;
	overflow: hidden;
}

.acc-grid li {
	width: 120px;
	float: left;
	margin: 0 20px 10px 0;
	padding: 0;
	border: none;
}

.acc-list {
	font-size: 90%;
}

.acc-list li {
	padding: 3px 0;
}

/* Flickr */

#flickr {
	overflow: hidden;
	margin: 5px 0;
}

#flickr li {
	float: left;
	margin: 6px;
}

#flickr li img {
	border: 1px solid #D9D5BB;
	padding: 4px;
	background: #FFFFFF;
}

#flickr li img:hover {
	background: #E8E6D6;
}

/* Footer */

#footer {
	width: 100%;
	background: #000000;
	color: #666666;
}

#footer .wrapper {
	width: 910px;
	height: 80px;
	background: url(images/bg_footer.gif) no-repeat center right;
	padding: 20px;
}

#footerlinks {
	overflow: hidden;
	margin: 20px 0 10px 0;
}

#footerlinks li {
	float: left;
	font-size: 110%;
	margin-right: 25px;
}

#footerlinks li a {
	color: #FFFFFF;
}

/* Misc */

.sep {
	color: #CCC;
	margin: 0 8px;
}

.ico-small {
	vertical-align: middle;
	margin: 0 5px 2px 0;
}

/* Carousel */

#mycarousel-nav {
	border-bottom: 1px solid #F0EEE4;
	overflow: hidden;
	margin-bottom: 15px;
}

#mycarousel-prev { float: left; padding: 5px; }
#mycarousel-next { float: right; padding: 5px; }

#mycarousel h3 {
	font-size: 110%;
	font-weight: bold;
	color: #000000;
	margin-bottom: 5px;
}

#mycarousel .snippet-intro {
	font-size: 85%;
}

/* Other styling */

.sociable_tagline {
	margin-bottom: 5px;
}

#comment-list { width:625px; }
#comment-list li { margin:1em 0; clear:both; width:625px; display:block; overflow:visible; }
#comment-list .left { width:20px; float:left; padding-top:5px; padding-right:3px; text-align:right; }
#comment-list .right { float:right; width:600px; background:transparent url(images/comment.png) no-repeat scroll 0 bottom; }
#comment-list .number { color:#333333; font-family:Georgia,Helvetica,Arial; font-size:1em; padding:0; width:20px; }
#comment-list .top { background:transparent url(images/comment_top.png) no-repeat scroll -1px 0px; border-bottom:1px solid #FCF8DA; margin:-2px 1px 5px; padding:1px 15px 6px 5px; height:37px; line-height:30px; overflow:visible; }
#comment-list .top p { background:transparent url(images/bullhorn.png) no-repeat scroll 0 5px; margin:0; padding:5px 15px 3px 35px; position:absolute; width:542px;}
#comment-list .top .grav { position:absolute; right:0; top:1px; }
#comment-list .body { padding:4px 15px 20px; }
#comment-list .body p { line-height:1.5em; }